//Variables
$logo : #104c91;
$primary :#EFC9AF;
$secondary : #1f8ac0;
$google : #4885ed;
$facebook : #3b5998;


html, body {
    margin: auto;
}

.navbar{
    background-color: $primary;
    border: none;
    outline: none;
}

.navbar-nav{
    flex-direction: row;
}

.nav-brand{
    font-size: 1em;
}

.login{
    padding-right: 2vh !important;
}

.reg{
    padding-right: 2vh !important;
}


.nav_Title{
    margin: 0;
    color:  $logo;
}

.nav-link{
    color: $logo !important;
    font-weight: 400 !important;
    font-size: 1em;
    text-transform: uppercase !important;
}

.login:hover{
    color: $secondary !important;
    font-weight: bold !important;
    transition: 0.2s ease-in-out !important;
}

.reg:hover{
    color: $secondary !important;
    font-weight: bold !important;
    transition: 0.2s ease-in-out !important;
}

a:hover{
    text-decoration: none !important;
    border: none !important;
}

.makeStyles-root-1{
    min-width: 50% !important;
    margin: auto !important;
    background-color: $primary !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 25% !important;
    border-radius: 10px 10px 0 0;
    text-transform: lowercase;
}

.MuiBottomNavigationAction-label{
    text-transform: uppercase;
    color: $logo;
}
.bottom-nav{
    width: 33%;
    position: absolute;
    left: 35%;
    top: 0;
}

.btmNav:hover{
    color: $secondary !important;
    font-weight: bold !important;
    transition: 0.2s ease-in-out !important;
}

.userNav:hover{
    color: $secondary !important;
    transition: 0.5s;
}