@import './variables.scss';

body{
    background-color: $primary;
}

.nav_Title{
    color: $logo;
}

.navbar{
    background-color: $primary !important;
    border: none;
    outline: none;
    padding-bottom: 0;
    margin-bottom: 1.5%;
    height: 2%;
}

.navbar-nav{
    flex-direction: row ;
}

.nav_Title{
    color: $logo;
    margin-left: 10%;
    margin-top: 8%;
}

.nav-link{
    color: white !important;
    margin-right: 2vh;
}

.nav-link:hover,:link,:visited{
    color: $logo !important;
    text-decoration: none !important;
    border: none !important;
}

.container-fluid{
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.home_top {
    margin-bottom: 5%;
    background-color: white;
}

.home_middle{
    background-color: $primary;
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.home_bottom{
    margin-top: 5%;
    background-color: white;
}

.welcome_title, .welcome_subtitle{
    text-align: center;
    color: $primary;
}

.btn-login, .btn-reg{
    margin-bottom: 2%;
    margin-left: 2%;
    width: 30%;
    background-color: $logo;
    border: 2px solid;
    color: white;
}

.btn-login:hover, .btn-reg:hover{
    background-color: white;
    color: $logo;
    border: 2px solid $logo;
    transition: 0.5s;
    font-weight: bold;
}

.btn-login:focus, .btn-reg:focus{
    background-color: white;
    color: $logo;
    border: 2px solid $logo !important;
    text-decoration: none;
    transition: 0.5s;
}

.bottom_title{
    margin-bottom: 8%;
    color: $primary;
}

.features_card{
    margin-bottom: 10%;
}

.feature_logo{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.feature_title{
    color: $logo;
}

.download-btn{
    background-color: $logo;
    color: white !important;
}

.download-btn:hover{
    background-color: white;
    color: $logo !important;
    border: 2px solid $logo;
    transition: 0.5s;
    font-weight: bold;
}

footer{
    background-color: $primary;
    color: white;
}

.copyright-text{
    color: $logo !important;
}

.copyright-text:hover{
    color: white !important;
}

.signin{
    color: white;
    margin-bottom: 10%;
}

.login_img{
    width: 1.5em;
    height: 1.5em;
}

.login2{
    background-color: $logo;
    border: 2px solid;
    color: white;
}

.login2:hover{
    background-color: white;
    color: $logo;
    border: 2px solid $logo;
    transition: 0.5s;
    font-weight: bold;
}

.google-login{
    background-color: $google;
    border: 2px solid;
    color: white;
}

.google-login:hover{
    background-color: white;
    border: 2px solid;
    color: $google;
    font-weight: bold;
}

.facebook-login{
    background-color: $facebook;
    border: 2px solid;
    color: white;
}

.facebook-login:hover{
    background-color: white;
    border: 2px solid;
    color: $facebook;
    font-weight: bold;
}

.pwd-reset{
    color: white;
}

.form-control{
    color: black !important;
}

.reg-link, .login-link{
    color: white;
}

.reg2{
    background-color: $logo;
    border: 2px solid;
    color: white;
    margin-bottom: 2%;
}

.welcome_banner{
    margin-top: 45%;
    color: white;
}

.bottomNav{
    background-color: $logo !important;
    border-radius: 15px 15px 15px 15px;
    text-align: center !important;
    align-content: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5%;
    padding: 5% 2% 5% 5%;
    position: fixed;
    bottom: 0;
    left: 8%;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-right: 20%;
}

.dashNav{
    width: 100%;
    justify-content: center;
}

.dash-item:hover,:link{
    color:$primary !important;
    text-decoration: none !important;
    border: none !important;
    font-weight: bold;
    transition: 0.5s;
}

.category_title{
    color: $logo;
    margin-top: 5%;
    margin-bottom: 15%;
}

.list-container{
    padding-bottom: 15%;
}

.list-group-item{
    border-radius: 15px !important;
    margin-bottom: 4%;
    color: $primary !important;
}

.list-group-item:hover:link{
    color: $logo !important;
    text-transform: uppercase;
    transition: .5s;
}

.search_title{
    color: $logo;
    margin-top: 5%;
    margin-bottom: 15%;
}

.item_title{
    color: white !important;
}

.product_input{
    margin-top: 2%;
}

.btn-add{
    margin-top: 2%;
}

.thead-primary{
    background-color: $primary;
    color: white;
    text-align: center;
}

.product_results{
    text-align: center;
    color: white;
}

.crud-btn{
    margin-top: 6%;
    padding: 6px !important;
}

.btn-primary{
    border-top: none !important;
}

.contact_title{
    color: $logo;
    margin-bottom: 2%;
}

.contact_subtitle{
    color: white;
    font-size: 1em;
    margin-bottom: 10%;
}

.contact_input{
    margin-bottom: 4%;
}

.error{
    color: white;
    font-weight: bold;
}

strong{
    color: red;
}

//Media Queries