//Variables
$logo : #104c91;
$primary :#FFECDB;
$secondary : #1f8ac0;

html,
body {
    margin: auto;
}

.navbar {
    background-color: $primary;
    border: none;
    outline: none;
}

.navbar-nav {
    flex-direction: row;
}

.nav-brand {
    font-size: 1em;
}

.login-mobile {
    padding-right: 1.5vh !important;
    font-size: 2em !important;
}

.reg-mobile {
    text-transform: uppercase;
    font-size: 2em !important;
}

.nav_Title {
    margin: 0;
    color: $logo;
}

.nav-link {
    color: $logo;
    font-weight: bold;
}

.login-mobile:hover {
    color: $secondary;
    transition: 0.2s ease-in;
    font-weight: bold;
}

.reg-mobile:hover {
    color: $secondary;
    transition: 0.2s ease-in;
    font-weight: bold;
}

a:hover {
    text-decoration: none !important;
    border: none !important;
}

.mobile_bottomNav{
    background-color: $primary;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    border-radius: 5px 5px 0 0;
    z-index: 9000;
}